:root {
    /* basic colors */
    --color_background_default: rgba(37, 37, 37, 0.7);
    --color_text_default: rgb(226, 226, 226);
    
    /* team colors */
    --color_ct: rgb(93,121,174);
    --color_ct1: rgb(93,121,174);
    --color_ct2: rgb(44, 57, 82);
    --color_t: rgb(222,155,53);
    --color_t1: rgb(222,155,53);
    --color_t2: rgb(114, 79, 27);

    /* player box colors */
    --color_player_box: var(--color_background_default);
    --color_damage: rgb(100, 0, 0);
    --color_dead1: rgba(37, 37, 37, 0.7);
    --color_dead2: rgba(37, 37, 37, 0.5);

    /* timer colors */
    --color_round_live: var(--color_text_default);
    --color_round_over: rgb(10, 121, 29);
    --color_round_freezetime: rgb(172, 92, 0);
    --color_round_bomb_background: rgb(172, 0, 0);
    --color_round_defuse_background: rgb(8, 153, 3);

    /* chat colors */
    --color_background_chat: rgba(37, 37, 37, 0.774);

    --margin-left-right: 10px;

    --spectate-avatar-size: 5em;

    white-space: nowrap;
    
}

body {
    /*background-color: #686767;*/
    background-color: transparent;
    color: var(--color_text_default);
    font-family: sans-serif;
    font-size: 12px;
    text-shadow: 0em 0em 0.25em #000000;
    padding-bottom: 200px;
}

.color_ct {
    background: var(--color_ct);
}
.color_t {
    background: var(--color_t);
}

.color_white {
    background: white;
}

img {
    height: 0.9em;
}

/* weapon images */
img.holstered {
    filter: brightness(0.8);
}

img.weapon_flashbang {
    height: 1.2em;
}